<tr class="<%= row_color(assignment.end_date) %> assignment_<%=assignment.id%>">
  <td>
    <%= link_to(assignment.user.name, user_path(assignment.user)) %>
  </td>
  <td>
    <%= assignment.role.name %>
  </td>
  <td>
    <%= readable_date(assignment.start_date) %>
  </td>
  <td>
    <%= readable_date(assignment.end_date) %>
  </td>
  <td>
    <%= link_to edit_assignment_path(assignment.id), remote: true do %>
      <i class="fa fa-pencil"></i>
    <% end %>
    <%= link_to assignment_path(assignment.id), :method => :delete, :data => { :confirm => 'Are you sure?' } do %>
      <i class="fa fa-times"></i>
    <% end %> 
  </td>
</tr>
