= form_for @assignment, remote: true do |f|
  - if @assignment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@assignment.errors.count, "error")} prohibited this assignment from being saved:"
      %ul
        - @assignment.errors.full_messages.each do |msg|
          %li= msg
  
  .field  
    = f.label :user
    / = f.text_field :user
    .role_section
      -@users.each do |user|
        .user_form_wrapper
          =user.name
          = f.radio_button(:user_id, user.id, :class => "form_button")
      =link_to("New User", users_path, :class => "user_form_wrapper")
  .field
    .role_section
      = f.label :client
      / = f.text_field :client
      -@clients.each do |client|
        .client_form_wrapper
          =client.name
          = f.radio_button(:client_id, client.id, :class => "form_button")
      =link_to("New Client", clients_path, :class => "client_form_wrapper")
  .field
    .role_section
      
      / = link_to_add_fields "Add Role", f, :role

      / = f.label :role
      / -@roles.each do |role|
      /   .role_form_wrapper
      /     =role.name
      /     = f.radio_button(:role_id, role.id, :class => "form_button")
      / =link_to("New Role", roles_path, :class => "role_form_wrapper")
    
       
  .field
    = f.label :start_date
    = f.date_field :start_date
  .field
    = f.label :end_time
    = f.date_field :end_time
  .actions
    = f.submit 'Save'