= form_for @assignment, remote: true do |f|
  - if @assignment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@assignment.errors.count, "error")} prohibited this assignment from being saved:"
      %ul
        - @assignment.errors.full_messages.each do |msg|
          %li= msg

  .field
  
    = f.label :user
    / = f.text_field :user
    
    -@users.each do |user|
      .user_form_wrapper
        %h6=user.name
        = f.radio_button(:user_id, user.id, :class => "form_button")
  .field

    = f.label :client
    / = f.text_field :client
    -@clients.each do |client|
      .client_form_wrapper
        %h6=client.name
        = f.radio_button(:client_id, client.id, :class => "form_button")
  .field

    = f.label :role
    -@roles.each do |role|
      .role_form_wrapper
        %h6=role.name
        = f.radio_button(:role_id, role.id, :class => "form_button")
        / %button.btn.btn-primary.btn-block=role.name
        / %button.btn.btn-info{:type => "button"}
    .role_form_wrapper
      %button.btn.btn-warning.btn-block{"data-target" => "#myModal", "data-toggle" => "modal"}
        New Role
       
  .field
    = f.label :start_date
    = f.datetime_select :start_date
  .field
    = f.label :end_time
    = f.datetime_select :end_time
  .actions
    = f.submit 'Save'
=render 'roles/modal' 