%tr{:class => row_color(assignment.end_time)}
  %td=link_to(assignment.user.name, user_path(assignment.user))
  %td= assignment.role.name
  %td= readable_date(assignment.start_date)
  %td= readable_date(assignment.end_time)
  %td
    = link_to edit_assignment_path(assignment) do
      %i.fa.fa-pencil
    = link_to assignment, :method => :delete, :data => { :confirm => 'Are you sure?' } do
      %i.fa.fa-times