!!!
%html
  %head
    %title Teamwork
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .navbar
      .navbar-inner
        .container
          %nav.navbar{:role=>"navigation"}
            .navbar-header
              =image_tag('mm3.gif')
            .navbar-collapse
              %ul.nav.navbar-nav.pull-right
                %li.navbar-link
                  = link_to 'Clients', clients_path
                %li.navbar-link
                  = link_to 'Assignments', assignments_path
                %li.navbar-link
                  = link_to 'Users', users_path
                %li.navbar-link
                  = link_to 'Roles', roles_path
    .container
      = yield
